* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(116, 116, 116);
  color: rgb(255, 255, 255);
  line-height: 1.5;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-color: rgb(159, 159, 159);
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.navbar ul li a:hover {
  color: aquamarine;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
section h1 {
  font-size: 4rem;
}
section p {
  font-size: 1.5rem;
  align-items: center;
}
.Streetwear {
  background-image: url("../Explorepage/img/Streetwear.jpg")
 ;
 background-repeat:no-repeat ;
 background-size: contain;
 background-position: center;
}

.Steampunk {
  background: url("../Explorepage/img/Steampunk2.jpg") ;
  background-repeat:no-repeat ;
  background-size: cover;
  background-position:  fill ;
 }

.Classic {
  background: url("../Explorepage/img/Classic.jpg");
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center;
 }


.Vintage {
  background: url("../Explorepage/img/Vintage.jpg") ;
  background-repeat:no-repeat ;
  background-size: contain;
  background-position: center;
 }


