<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fitter Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/Project2-Group11/home page/homepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Fitter</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Post</a></li>
            <li><a href="#">Choose Style</a></li>
          </ul>
        </div>
      </nav>
      <div class="bg-image img1"></div>
      <div class="bg-image img2"></div>
      <div class="bg-image img3"></div>

      <div class="bg-text">Fitter</div>

    <div class="loginBtn">
    <button onclick="window.location.href='/Project2-Group11/views/login.html';" type="button" class="btn btn-primary btn-lg">Login</button>
    <button onclick="window.location.href='/Project2-Group11/views/newMember.html';" type="button" class="btn btn-secondary btn-lg">Sign Up</button>
  </div>
  </body>
  </body>
</html>
