.sectionStyle {
    margin: auto;
    text-align: center;
}
#profilePhoto {
    height: 200px;
    width : 200px;
    border-radius: 100%
}
#userlikedPost {
    background-color: rgb(234, 228, 220);
}
img {
    max-width: 100%;
    /* max-height:100%; */
}
